@media screen and (max-width:991px) {

    .taggle-btn {
        display: block;
    }

    nav {
        display: none;
        width: 100%;
        border-top: 1px solid #000;
        padding-top: 20px;
        margin-top: 30px;

    }

    nav,
    ul,
    li {
        padding: 15px 0px;
        width: 100%;
    }

    nav.show {
        display: block;

    }

}