* {
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: fit-content;
    display: flex;

}

.leftHeader {
    width: 50%;
    display: flex;
}

.leftHeaderone {
    /* width: 15%; */
    /* height: auto; */
    /* display: flex; */
    align-items: center;
}

.rightHeaderone {
    width: 80%;
    /* display: flex;
    flex-direction: column; */
    padding-top: 20px;
    text-transform: uppercase;

}

li>a {
    text-decoration: none;
    list-style: none;
    color: black;

}

.rightHeaderone>h3 {
    font-size: x-large;

}

.rightHeaderone>h2 {
    font-size: large;

}

span {
    color: yellow;


}

.rightHeader {
    width: 50%;


}

ul>li {
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.smoothie,
.fruits,
.cake,
.food {
    border: 1px solid black;
    margin: 15px 25px 10px 25px;
    border-radius: 8px;
    
}

.smoothie  {
    /* width: 100%; */
    display: flex;
    padding: 20px;
    background-color: rgb(60, 187, 230);
}

.leftSmoothie {
    width: 50%;
}
.rightSmoothie {
    width: 50%;
    display: flex;   
    justify-content: flex-end;

}

.smoothieP  {
    /* font-weight: bolder; */
    text-decoration: underline yellow 4px;
    text-transform:  capitalize;
    padding:  10px 0;
}

.rightSmoothie>img {
    width: 150px;
    height: 150px;
}
.bottonSmoothie{
    margin: 10px 10px 10px 0;
    cursor: pointer;
    background-color:  rgb(60, 187, 230);
    padding:  7px ;
    border-radius: 5px;
    /* box-shadow: 0px 0px 2px 2px rgb(0,0,0); */
    /* border: none; */
    text-transform: capitalize;

}
.bottonSmoothie:hover {
    background-color:#002ead;
    transition: 1.7s;
}
.bottonSmoothie:focus {
    outline-color: transparent;
    outline-style:dashed;
    box-shadow: 0 0 0 4px #ff0000;
}
/* .bottonSmoothie:active {
    background-color: #00ff22;
} */
.pSmoothi{
    padding: 10px 0 10px 0;
}