* {
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: fit-content;
    display: flex;

}

.leftHeader {
    width: 50%;
    display: flex;
}

.leftHeaderone {
    /* width: 15%; */
    /* height: auto; */
    /* display: flex; */
    align-items: center;
}

.rightHeaderone {
    width: 80%;
    /* display: flex;
    flex-direction: column; */
    padding-top: 20px;
    text-transform: uppercase;

}

li>a {
    text-decoration: none;
    list-style: none;
    color: black;

}

.rightHeaderone>h3 {
    font-size: x-large;

}

.rightHeaderone>h2 {
    font-size: large;

}

span {
    color: yellow;


}

.rightHeader {
    width: 50%;


}

ul>li {
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.smoothie,
.fruits,
.cake,
.food {
    border: 1px solid black;
    margin: 15px 25px 10px 25px;
    border-radius: 8px;
    
}

.smoothie{
    display: flex;
    padding: 20px;
    background-color: rgb(144, 224, 239);
}

.leftSmoothie {
    width: 50%;
}
.rightSmoothie {
    width: 50%;
    display: flex;   
    justify-content: flex-end;

}

.smoothieP  {
    text-decoration:underline 3px  yellow ;
    text-transform:  capitalize;
    
}

.rightSmoothie>img {
    width: 200px;
    height: 200px;
}
.buttonSmoothie{
    margin: 10px 10px 10px 0;
    cursor: pointer;
    background-color:  #caf0f8;
    padding:  7px ;
    border-radius: 5px;
    text-transform: capitalize;

}
.buttonSmoothie:hover {
    background-color: rgb(144, 224, 239);
    transition: 1.7s;
}
.fruits {
    display: flex;
    padding: 20px;
    background-color: #80ed99;
}

.leftFruits {
    width: 50%;
}
.rightFruits {
    width: 50%;
    display: flex;   
    justify-content: flex-end;

}

.fruitsP  {
    text-decoration:underline 3px  yellow ;
    text-transform:  capitalize;
    
}

.rightFruits>img {
    width: 150px;
    height: 150px;
}
.cake {
    display: flex;
    padding: 20px;
    background-color: #fbd1a2;
    gap: 20px;
}

.leftCake {
    width: 50%;
}
.rightCake {
    width: 50%;
    display: flex;   
    justify-content: flex-end;

}

.cakeP  {
    text-decoration:underline 3px  yellow ;
    text-transform:  capitalize;
    
}

.rightCake>img {
    width: 150px;
    height: 150px;
}
.food {
    display: flex;
    padding: 20px;
    background-color: #f9ea9a;
}

.leftFood {
    width: 50%;
}
.rightFood {
    width: 50%;
    display: flex;   
    justify-content: flex-end;

}

.foodP  {
    text-decoration:underline 3px  yellow ;
    text-transform:  capitalize;
    
}

.rightFood>img {
    width: 150px;
    height: 150px;
}

